body {
	font-family: Arial, sans-serif;
}

header {
	background-color: #0d47a1;
	color: white;
	padding: 20px;
}

main {
	padding: 20px;
}

footer {
	background-color: #0d47a1;
	color: white;
	padding: 10px;
	text-align: center;
}